html {
  font-size: 1em;
}

body {
  background-color: white;
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.25em;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1em;
}

small,
.font_small {
  font-size: 0.667em;
}
a:link,
a:visited {
  color: $orange;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.content-wrapper {
  color: $darkGreen;
}
