.header-wrapper {
  background-color: $darkGreen;
  padding: 1.45rem 1.0875rem;
  text-align: center;
  header {
    background-color: $darkGreen;
    margin-bottom: 1.45rem;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-family: "Playfair Display", serif;
    h1 {
      font-size: 50px;
      line-height: 40px;
      margin: 0;
      a:hover {
        text-decoration: none;
      }
    }
  }
}

.heading-line-1,
.heading-line-3 {
  color: #fff;
  text-align: left;
  display: block;
  font-size: 0.5em;
  text-transform: lowercase;
}
.heading-line-3 {
  text-align: right;
  padding-right: 15px;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 2.0875rem 2.45rem;
}
