.hero {
  background: $lightGreen url("../images/img_hero-bcg.png") no-repeat center center;
  background-size: cover;
  .content-wrapper {
    color: #fff;
    font-size: 1em;
    .post {
      padding: 20px 0;
      color: #fff;
      h1 {
        font-size: 1.2em;
        color: #fff;
      }
      &__meta {
        &:after {
          display: none;
        }
      }
      .episode__meta {
        &:after {
          background-color: #73b8b1 !important;
        }
      }
      &__date,
      .episode__overview {
        color: #fff;
      }
    }
    .player {
      background-color: #5c9e96;
      font-size: 0.9em;
    }
  }
  
}

@media (min-width: 768px) {
  .hero {
    .post {
      width: 60%;
      padding: 20px 20px 20px 0;
      h1 {
        font-size: 1.8em;
      }
      &__meta {
        padding-bottom: 10px;
        margin-bottom: 0;
      }
    }
    .content-wrapper {
      display: flex;
      background: url("../images/img_immersion.svg") no-repeat 90% center;
      background-size: auto 80%;
      font-size: 1.4em;
      .player {
        margin: 0 0 0 0;
        width: calc(100% - 40px);
      }
    }
  }
}
