.post {
  color: $textBaseColor;
  h1 {
    color: $darkGreen;
    margin-bottom: 0;
  }
  &__meta {
    color: $baseGreen;
    margin-bottom: 20px;
  }
  &__date {
    margin: 0;
    text-transform: uppercase;
  }
}
